{% extends "base.html" %}
{% block reminder %}



{% endblock %}


{% block CV %}
 <table class="table table-borderless table-responsive" style="margin-left: 40%;" >
	<a id="CV"> </a>
	<tr>
		<td>
			<h3 style="font-size: larger;font-family: Bahnschrift;color:darkred;font-size: 40pt;margin-left: 110px" >  <a href="../static/CV.pdf"> My CV </a>  </h3>
		</td>
	</tr>
	<tr>

		<td>
			<img src="https://www.thebalancecareers.com/thmb/i6-x6JmRh63zacoUYZ9_IRVD3jw=/950x0/cropped-hands-of-business-people-holding-resume-on-table-in-office-944152896-5af32eb3ff1b7800204fa3d0.jpg" class="rounded-circle" alt="My CV" width = "400" height = "400" >
		</td>
	</tr>

	</table >
<br />
    <form style="margin-left: 42%" action="/upload-image" method="POST" enctype="multipart/form-data">
   <h1 style="color:blue"> Select file to upload (Please name it CV.pdf): </h1>
    <input type="file" name="image" id="image">
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}